flask
flask-cors
flask-socketio
eventlet==0.33.3
celery
redis
PyJWT
bcrypt
python-docx
PyPDF2
ollama
sentence-transformers
faiss-cpu
numpy
requests
pdfplumber
psycopg2-binary
python-dotenv
google-genai
gunicorn==20.1.0
